@import '../../scss/normalize';
@import '../../scss/function';
@import '../../scss/variables';

.main {
  @include flex(space-evenly, center);
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-color: $primary-color;

  #{&}-logo {
    width: 300px;
  }
  .li-font {
    @include font();
    width: 46%;
    a {
      text-decoration: none;
    }
  }
  @include mobile(column) {
    #{&}-logo {
      width: 250px;
    }
  }
}
