@import '../../scss/normalize';
@import '../../scss/function';
@import '../../scss/variables';

.main {
  @include flex();
  width: 100vw;
  height: 100vh;
  background-color: $primary-color;

  #{&}-logo {
    width: 300px;
  }
  @include mobile {
    flex-direction: column;
  }
  #{&}-logo {
    width: 220px;
  }
}

.country {
  @include font();
}
