@import './variables';

@mixin flex($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin font {
  list-style: none;
  border-radius: 3px;
  width: auto;
  margin: 3px;
  padding: 1px 2px;
  padding-right: -50px;
  font-family: $primary-font;
  background-color: $back-color-font;
  transition: all 0.3s;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background-color: $hover-color;
  }
}

@mixin mobile($flex-direction) {
  @media (max-width: $mobile) {
    @content;
    flex-direction: $flex-direction;
  }
}
